* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.mp4 binary
*.avi binary
*.npy binary
*.npz binary
*.pt binary
*.pth binary
